#header{
    border:4px solid rgb(179, 37, 37);
    padding:10px;
    margin:0px 10px;
    text-align: center;
    color: darkred;
    background-color: rgb(199, 17, 17);
}

div#menubar1{
    padding: 24px; border:#999 1px dashed;
}

div#menubar1> a{
    font-family:Aerial, Helvetica, sans-serif;
    font-size: 15px;
    background: rgb(117, 14, 14);
    
    padding: 12px 24px;
    color: #999;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.5s linear 0s, color 0.5s linear 0s;
    }

div#menubar1> a:hover{
    background: #02a30a;
    color:rgb(8, 8, 8);
    }

.Brief{
    float: left;
    width: 30%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(241, 5, 5, 0.767);
    }

div#img{
        position: relative;
        float: left;
        margin right: 10px;
    }

.textwrap{
        float: right;
        margin: 10px;
}
    
.profile_pic{
    float: left;
}

.Projects{
    float: right;
    width:33%;
    padding-top: 10px;
    box-shadow: 0 3px 10px rgba(241, 5, 5, 0.767);
    border-radius: 10px;
    margin-left: auto;
}

.Portfolio{
    float: right;
    width:33%;
    padding-top: 10px;
    box-shadow: black;
    padding-right: 20px;
    border-radius: 30px;
}

.h1, h2{
    color: darkred;
    }

.footer{
    position: fixed;
    padding:10px;
    margin:0px 10px;  
    text-align: center;
    align-content: center;
    padding-top: 500px;
   }

a{
    color:rgb(75, 233, 13);
    text-decoration:none;
    text-align: center;
}
a:visited{
    color:green;
}
a:hover{
    color:red;
    text-decoration:underline;
}
a:active{
    color:goldenrod;
    text-decoration: underline;
}

.hobby-list{
    float: left;
    width: 35%;
    border-radius: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(241, 5, 5, 0.767);
    }

.fun-list{
        float: right;
        width: 35%;
        border-radius: 20px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 0 3px 10px rgba(241, 5, 5, 0.767);
        }